:root {
    font-size: 62.5%;
    --primary-bg: #eff2f5;
    --secondary-bg: #ffffff;
    --tertiary-bg: #eff2f5;
    --primary-text: #333;
    --secondary-text: #555555;
    --accent: #1d8dee;
    --subtle: #cccccc;
    --border: #dedede;
    --google: #d82b28;
    --error: #891c23;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-bg: #131314;
        --secondary-bg: #1b1c1c;
        --tertiary-bg: #2c2d2e;
        --primary-text: #dedede;
        --secondary-text: #b0b3b8;
        --accent: #1d8dee;
        --subtle: #555555;
        --border: #555555;
        --google: #d82b28;
        --error: #891c23;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    font: inherit;
    color: inherit;
}

body {
    background-color: var(--primary-bg);
    font-family: 'Poppins', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: var(--primary-text);
}
