{
    "plugins": ["prettier"],
    "extends": ["airbnb-typescript/base", "plugin:prettier/recommended"],
    "rules": {
        "indent": "off",
        "@typescript-eslint/indent": ["error", 4]
    },
    "parserOptions": {
        "project": "./tsconfig.json"
    }
}
